* {
  box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

.app {
  height: 250px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}